*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 ::-webkit-scrollbar{
   width: 0.5vw;
 }
 ::-webkit-scrollbar-track{
   background-color: white;
   border-radius:10px;
 }
 ::-webkit-scrollbar-thumb{
   background-color: rgb(219, 219, 219);
   border-radius:10px;
 }
 body{
   height: auto;
 }
 .main , .hide{
    display: none;
 }
 nav{
    height: 13vh;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    margin-top: 10px;
 }
 .rightnav{
    /* margin-top: 10px; */
    margin-left: 30px;
    height: 100%;
    width: 40%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
 }
 .rightnav img{
    height:80px;
    width:80px;
 }
 .rightnav h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    color: rgb(65, 65, 65);
 }
 .leftnav{
    height: 100%;
    width: 60%;
    /* background-color: blue; */
    /* color: black; */
    display:flex;
    justify-content:center;
    align-items: center;
 }
 .leftnav ul{
    display: flex;
    gap: 5vw;
    /* margin: 10px; */
 }
 .leftnav ul li a{
    /* display: inline; */
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-size: 22px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 main{
   position: relative;
   margin-top: 2vh;
   height:93vh ;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   /* background-color: rebeccapurple; */
   background-image: url(LW001.jpg);
   /* background-image: url(LW001.jpg); */
 }
 main h1{
   font-size: 3.5vw;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-transform: uppercase;
 }
 main p{
   text-align: center;
   font-size: 25px;
   padding: 3vh 7vw;
   
 }
 .probtn{
   color: white;
   /* height: ; */
   font-size: 22px;
   padding: 1rem 1.8rem;
   border-radius: 5px;
   border: none;
   outline: none;
   cursor: pointer;
   background-color: #7843E9;
   font-weight: 700;
   margin-top: 5rem;
 }
 .absolute{
   height: 37vh;
   width: 5.8vw;
   background-color: rgb(227, 227, 227);
   position: absolute;
   left: 0%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 .absolute img{
   padding-top: 10px;
   /* padding: 4px; */
   height:50px;
   width:50px;
   border-radius: 2px;
 }
 .hero1{
   /* height:50rem; */
   height: auto;
   margin-bottom: 5rem;
   width: 100%;
   background-image: linear-gradient(to bottom, #e7e7e7, #dfdfdf, #d7d7d7, #cfcfcf, #c7c7c7, #c9c9c9, #cacaca, #cccccc, #d9d9d9, #e5e5e5, #f2f2f2, #ffffff);
   /* background-image: linear-gradient(to top, #d8d8d8, #e2e2e2, #ebebeb, #f5f5f5, #ffffff); */
 }
 .hero1 h2{
   font-size: 3rem;
   font-weight: 700px;
   text-align: center;
   margin-top: 2rem;
   
 }
 /* .hero1 h2::after{
   content: '';
   position: absolute;
   background-color: #7843E9;
   border-radius: 20%;
   height: 3px;
   width: 50px;
   left: 50%;
   top: 121%;
 } */
 .hero1para{
   font-size: 1.8vw;
   text-align: center;
   padding: 2rem 12rem;
}
.leftrighthero{
   /* height: calc(110vh - 168px); */
   height: 72%;
   /* width: 100%; */
   /* background-color: aqua; */
   display: flex;
   margin-top: 10px;
}
.lefthero1{
   height: 100%;
   width: 50%;
   /* background-color: yellow; */
   padding-left: 5rem;
}
.lefthero1para{
   font-size: 20px;
   text-align:justify;
   width: 100%;
   padding-top: 0.8rem;
}
.righthero1{
   height: 100%;
   width: 50%;
   
}
.resume{
   color: white;
   font-size: 22px;
   padding: 0.7rem 2rem;
   border-radius: 5px;
   border: none;
   outline: none;
   cursor: pointer;
   background-color: #7843E9;
   font-weight: 700;
   margin-right: 0.5rem;
   margin-top: 2rem;
   text-decoration: none;
}
.resume:hover,.contact:hover{
   box-shadow: 0 0 10px 0 #7843E9 inset, 0 0 20px 2px #7843E9;
   border: 3px solid #7843E9;
}
.resume a,.contact a{
   text-decoration: none;
   color: white;
}
.contact{
   margin-left: 0.5rem;
   color: white;
   font-size: 22px;
   padding: 0.7rem 2rem;
   border-radius: 5px;
   border: none;
   outline: none;
   cursor: pointer;
   background-color: #7843E9;
   font-weight: 700;
}
.righthero1 h1{
   text-align: center;
   /* border-bottom: 1px solid #7843E9; */
}
.skills{
   text-align: center;
/* height: 40rem; */
/* width:80%; */
/* background-color: black; */
margin-top: 2rem;
margin-left: 3rem;
}
.skillsbtn{
   /* margin-left: 0.5rem; */
   color: white;
   font-size: 22px;
   padding: 0.7rem 2rem;
   border-radius: 5px;
   border: none;
   outline: none;
   cursor: pointer;
   background-color: rgb(222, 222, 222);
   /* font-weight: 700; */
  margin-top: 0.8rem;
  /* padding: 0 10px; */
  margin-right: 10px;
  background-color: #7843E9;
  background-image: #7843E9;
  background-image: -moz-linear-gradient(to top, #7843e9, #9065ed, #a784f0, #bca3f2, #d1c2f2); 
  background-image: -webkit-linear-gradient(to top, #7843e9, #9065ed, #a784f0, #bca3f2, #d1c2f2);
  background-image: linear-gradient(to top, #7843e9, #9065ed, #a784f0, #bca3f2, #d1c2f2); 
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.skillsbtn:hover{
   background-position: -200%;
   transition: background 300ms ease-in-out;
}
.project-section{
   padding-top: 2rem;
   height: 80rem;
   width: 100%;
   /* overflow-x: hidden; */
   /* background-color: red; */
}
.project-section h1{
   text-align: center;
   font-size: 3.5vw;
   padding-bottom: 3rem;

}
.projects{
   height: 80%;
   display: flex;
   justify-content: center;
   align-items: center; 
   flex-wrap: wrap;
}
.project-list{
   height: 28rem;
   width: 20rem;
   border-radius: 5px;
   border: 1px solid black;
   /* gap: 3rem; */
   margin-right: 2rem;
   /* margin-bottom: 2rem; */
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   box-shadow: 0 0 10px 0 black inset, 0 0 20px 1px black;
   /* border: 3px solid black; */
}
.project-list p{
   font-size: 20px;
   margin-top: 0.1rem;
}
.project-list img{
   height: 20rem;
   width: 16rem;
}
.btns{
  margin-top: 1rem;
   display: flex;
}
.git{
   font-size: 20px;
   padding: 0.2rem 1.5rem;
   margin-right: 0.2rem;
   border-radius:5px;
   border:none;
   cursor: pointer;
   background-color:#7843E9;
   color:white
}
.live{
   font-size: 20px;
   padding: 0.2rem 1.2rem;
   display: flex;
   align-items: center;
   border-radius:5px;
   border:none;
   cursor: pointer;
   background-color:#7843E9;
   color:white
}
.live img{
   margin-left: 0.5rem;
   height: 20px;
   width: 20px;
}
.btns a{
   text-decoration: none;
}
.contac{
   height: auto;
   /* background-color: red; */
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   /* margin: 5rem 0; */
   background-image: url(triangle-mosaic.webp);
}
.contac h1{
   font-size: 3vw;
   text-align: center;
   padding: 2rem 0;
}
.contac p{
   font-size: 2vw;
   padding: 0 15rem;
   text-align: center;
}
form{
   margin-top: 3rem;
   padding: 2rem 2rem;
   height: auto;
   width: max-content;
   background: white;
   margin-bottom: 2rem;
   border-radius: 5px;
   /* align-items: center; */
   /* justify-content: center; */
}
input{
   font-size: 22px;
   width: 55vw;
   padding: 0.5rem 1rem;
   margin-bottom: 1rem;
   border: none;
   border-radius: 5px;
   background-color: #F0F0F0;
   outline: none;
}
form label{
   font-size: 20px;
}
textarea{
   outline: none;
   font-size: 22px;
   width: 55vw;
   padding: 0.5rem 1rem;
   margin-bottom: 1rem;
   border: none;
   border-radius: 5px;
   background-color: #F0F0F0;
}
.Submit{
   font-size: 23px;
   padding: 0.8rem 3rem;
   display: flex;
   align-items: center;
   border-radius:5px;
   border:none;
   cursor: pointer;
   background-color:#7843E9;
   color:white
}
footer{
   height: auto;
   background-color: black;
   width: 100%;
   color: white;
   display: flex;
}
.footer{
   margin: 5rem 2rem;
   padding-bottom: 2rem;
   border-bottom: 1px solid white;
   width: 100%;
   display: flex;
   justify-content:space-between
}
.leftf{
   width: 50%;
}
.rightf{
   width: 50%;
}
.linkicon{
   margin: 2rem 0;
}
.linkicon img{
height: 30px;
width: 30px;
margin-right: 0.5rem;
}
.foot{
   text-align: center;
   padding-bottom: 1rem;
   background-color: black;
   color: white;
}
.probtn:active{
   scale: 0.95;
}
.resume:active{
   scale: 0.95;
}
.contact:active{
   scale: 0.95;
}
